resource_group_name  = "rg-{{ iac_short_name }}-tfstate-prd"
storage_account_name = "st{{ iac_short_name }}tfstateprd"
container_name       = "tfstate"
# key is passed dynamically: -backend-config="key=STACK.tfstate"
