environment     = "prd"
subscription_id = "" # AZURE_SUBSCRIPTION_ID_PRD from .env
location        = "francecentral"
project         = "{{ project_name | replace('-', '') | truncate(10, True, '') }}"
